<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BlogSpot</title>
    <link rel="stylesheet" href="stylesbox.css">
</head>
    <body>
        <main>
            <!-- <h2>Title</h2> -->
            <form action="/saveblog" method="post">
                <input class="typehere wid" type="text" name="title" placeholder="Title" required>
                <br></br>
                <!-- <h3>Blog</h3> -->
                <textarea class="typehere" id="blogbox" name="blogdata" placeholder="Write your blog here ..." required></textarea>
                <br>
                <br>
                <input type="submit" value="post">
            </form>
        </main>
    </body>
</html>

