<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BlogSpot</title>
    <link rel="stylesheet" href="styleview.css">
</head>
    <body>
        <main>
            <ttle>
                <%= blogs[ind][0] %>
            </ttle>
            <div class="contnt">
                <%= blogs[ind][1] %> 
            </div>
            <a href="/gohome">home</a>
        </main>
    </body>
</html>













