*{
    margin: 0;
    padding: 0;
}

main{
    background-color: rgb(41, 38, 38);
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    padding: 2rem 3rem;
}

.tittle{
    /* border: 3px solid black; */
    text-align: center;
}

.tittle > h1 {
    font-size: 4rem;
    padding-bottom: 2rem;
}

.features{
    min-height:100%;
    width:20%;
    /* border: 3px solid black; */
}

next{
    min-height:100%;
    display:flex;
    flex-direction: row;
}

.boxcontent{
    margin: 8px;
    color:rgb(191, 142, 241);
}

.content{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    min-height: 80vh;
    width:100%;
    padding: 2rem 1rem;
    border-radius: 8px;
    background-color: rgb(69, 64, 64);
    /* border: 3px solid black; */
}

.boxes{
    background-color: rgb(41, 38, 38);
    color: aliceblue;
    position: relative;
    padding: 10px;
    margin: 40px;
    /* border: 1px solid black; */
    border-radius: 12px;
    height:220px;
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.enlarge{
    transform: scale(1.1);
}


.posticon{
    position: fixed;
    font-size: 1.5rem;
    background-color: #34e0bf;
    top:2rem;
    left:1rem;
    z-index: 1;
    cursor: pointer;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
}

.options{
    padding:2px;
    visibility: hidden;
    color: rgb(0, 0, 0);
    background-color: rgb(41, 38, 38);
    position:absolute;
    border-radius: 8px;
    bottom: 8px;
    right: 8px;
}

.hid{
    visibility: visible;
}

body{
    padding-left: 10;
}

.link, .link:active, .link:visited, .link:link{
    color: rgb(67, 219, 29);
    text-decoration: none;
    margin: 8px;
    margin-bottom: 10px;
}

.symbol, .symbol:active, .symbol:visited, .symbol:link{
    /* color: rgb(111, 229, 81); */
    color: orange;
    text-decoration: none;
    font-size:1.5rem;
    margin-right: 10px;
}